<p-card header="Courses List">
  <p-table [value]="courses" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="maxRows">
    <ng-template #header>
      <tr>
        <th>Title</th>
      </tr>
    </ng-template>
    <ng-template #body let-course>
      <tr>
        <td>
          <ng-container *ngIf="loading; else content">
            <p-skeleton />
          </ng-container>
          <ng-template #content>
            <div class="title-row">
              <p>{{ course.title }}</p>
              <p-button routerLink="/{{course.id}}" [rounded]="true" icon="pi pi-chevron-right" [text]="true" size="small"/>
              <p-button [rounded]="true" icon="pi pi-trash" [text]="true" size="small" (onClick)="onDeleteCourse(course.id)" />
            </div>
          </ng-template>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td>
          <p-message severity="info" text="No courses found." />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
