<div class="page-container">
  <div class="top-button-container">
    <p-button
      label="New Lesson"
      (onClick)="showCreateLessonModal()"
      icon="pi pi-plus"
    />
  </div>

  <div class="lesson-panel-container">
    @if(loading()){
      <p-card styleClass="lessons-skeleton-card">
        <div class="lessons-skeleton">
          <p-skeleton width="100%" height="2.5rem" />
          <p-skeleton width="100%" height="2.5rem" />
          <p-skeleton width="100%" height="2.5rem" />
          <p-skeleton width="100%" height="2.5rem" />
          <p-skeleton width="100%" height="2.5rem" />
        </div>
      </p-card>
    } @else {
      <app-lessons-panel [lessons]="lessons()" (lessonSelected)="lessonSelected($event)"></app-lessons-panel>
    }
  </div>

  <div class="lesson-content-container">
    <app-lesson-editor
      [lesson]="loadedLesson()"
      (onCourseContentChanged)="handleCourseContentChanged($event)"
      [loading]="lessonIsLoading()"
    ></app-lesson-editor>
  </div>

  <div class="exercise-list-container">
    <app-course-exercises-list
      [courseId]="courseId"
      [lessons]="lessons()"
    ></app-course-exercises-list>
  </div>

</div>

<app-lessons-form-modal
  [isVisible]="isCreateLessonModalVisible()"
  (isVisibleChange)="isCreateLessonModalVisible.set($event)"
  (lessonCreated)="loadLessons()"
  [courseId]="courseId"
></app-lessons-form-modal>
