<div class="exercise-list-container">
  <div class="exercise-list-controller">
    <p-button
      label ="Create Exercice"
      (onClick)="showCreateExerciseModal()"
      icon="pi pi-plus"
    />
    <app-create-exercise-form-modal
      [isVisible]="isCreateExerciseModalVisible()"
      (isVisibleChange)="isCreateExerciseModalVisible.set($event)"
      [lessons]="lessons"
      (exerciseCreated)="loadExercises()"
    ></app-create-exercise-form-modal>
    <p-button
      label = "Generate Exercise"
      (onClick)="showGenerateExerciseModal()"
      icon="pi pi-sparkles"
    />
    <app-generate-exercise-form-modal
      [isVisible]="isGenerateExerciseModalVisible()"
      (isVisibleChange)="isGenerateExerciseModalVisible.set($event)"
      [lessons]="lessons"
      (exerciseGenerated)="loadExercises()"
    ></app-generate-exercise-form-modal>
  </div>
  <app-exercises-table
    [loading]="loading()"
    [exercises]="exercises()"
    [maxRows]="maxRows"
    class="exercise-table"
  ></app-exercises-table>

</div>
