<p-card header="Exercise List" >
  <p-table
    [value]="exercises"
    [paginator]="true"
    [rows]="maxRows"
  >
    <ng-template #header>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>lessons</th>
      </tr>
    </ng-template>
    <ng-template #body let-exercise>
      <tr>
        <td  class="title-row">
          @if (loading){
            <p-skeleton width="8rem" height="1rem"/>
          } @else {
            <p>{{exercise.title}}</p>
          }
          <p-button
            [routerLink]="['/','exercises',exercise.id,'exercise-details']"
            [rounded]="true"
            icon="pi pi-chevron-right"
            [text]="true"
            size="small"
          />
        </td>
        <td >
          @if(loading){
            <p-skeleton width="8rem" height="1rem"/>
          } @else {
            <p>{{getExerciseTypeLabel(exercise.type)}}</p>
          }
        </td>
        <td >
          @if(loading){
            <p-skeleton width="8rem" height="1rem"/>
          } @else {
            <p>{{printLessons(exercise.lesson)}}</p>
          }
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td>
          <p-message severity="info" text="No exercises found."/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
